@tailwind base;
@tailwind components;
@tailwind utilities;


body::-webkit-scrollbar {
    width: 0.5em;
  }
   
  body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
   
  body::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
  }



/* Tailwind'in default reset ayarlarını geçersiz kıl */
.react-markdown {
  all: unset; /* Tüm stilleri kaldır */
  display: block; /* Normal blok yapılarına döndür */
}

/* Markdown yapısı için özel stil */
.react-markdown h1,
.react-markdown h2,
.react-markdown h3,
.react-markdown h4,
.react-markdown p,
.react-markdown ul,
.react-markdown li {
  all: initial;
  margin-bottom: 1rem; /* Spacing for elements */
  color: inherit; /* Metin rengini miras al */
  font-size: inherit; /* Metin boyutunu miras al */
  line-height: 1.6;
  font-family:sans-serif;
}

/* Tailwind'in default reset ayarlarını geçersiz kıl */
.react-markdown {
  all: unset; /* Tüm stilleri kaldır */
  display: block; /* Normal blok yapılarına döndür */
}

/* Markdown yapısı için özel stil */
.react-markdown h1 {
  font-size: 2rem; /* H1 için font boyutu */
  margin-bottom: 1.5rem; /* Alt boşluk */
}

.react-markdown h2 {
  font-size: 1.75rem; /* H2 için font boyutu */
  margin-bottom: 1.25rem; /* Alt boşluk */
}

.react-markdown h3 {
  font-size: 1.5rem; /* H3 için font boyutu */
  margin-bottom: 1rem; /* Alt boşluk */
}

.react-markdown h4 {
  font-size: 1.25rem; /* H4 için font boyutu */
  margin-bottom: 0.75rem; /* Alt boşluk */
}

.react-markdown p {
  margin-bottom: 1rem; /* Paragraflar için alt boşluk */
  color: inherit; /* Metin rengini miras al */
  line-height: 1.6; /* Satır yüksekliği */
  font-family: sans-serif; /* Yazı tipi */
}

.react-markdown ul,
.react-markdown li {
  margin-bottom: 0.5rem; /* Listeler için alt boşluk */
  color: inherit; /* Metin rengini miras al */
}

/* Liste öğeleri için özel stil */
.react-markdown li {
  padding-left: 1.2rem; /* Soldan boşluk */
  position: relative; /* Konumlandırma için */
}

.react-markdown li::marker {
  color: inherit; /* İşaretçilerin rengini miras al */
}
